/*
--------------------
  Reset
--------------------
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body, html {
  width: 100%;
  height: 100%;
}

ol, ul {
  list-style: none;
}

hr {
  border: 0;
  height: 1px;
  background: #ccc;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html, input, select, textarea, button, a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*
--------------------
  General
--------------------
*/

.bg {
  /* height: 100%; */
}
body {
  background-image: url("/images/Background.png");
  /* no-repeat fixed content-boxno-repeat fixed content-box */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Helvetica Neue";
}

.center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.top-right {
  position: fixed;
  top: 16px;
  right: 30px;
}
span {
  font-weight: 600;
}

/*
--------------------
  Main content
--------------------
*/

.fixSections {
  position: relative;
  display:flex;
}
.fixSections li {
  list-style: disc;
  padding: 0 0 0 5px;
  margin: 0 0 0 50px;
  text-align: left;
}

#sections {
  display: flex;
  flex-flow: nowrap row;
  width: 65%;
  justify-content: space-between;
}

#leftContainer:hover, #middleContainer:hover, #rightContainer:hover {
  transform: scale(1.05) translateY(18px) ;
}

#leftContainer, #middleContainer, #rightContainer {
  text-align: center;
  position: relative;
  transition: all ease-in-out 0.3s;

}

.alignSectionContent {
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.alignSectionContent h1 {
  margin: 12px 0 24px 0;
}

.alignSectionContent p {
  margin-top: 12px;
  padding: 0 14px;
}

#leftContainer div h1 {
  align-content: center;
  justify-content: center;
  text-align: center;
  align-self: center
}

#sections div svg {
  width: 300px;
  height: 100%;
}

#sections div:nth-child(2) svg {
  width: 342px;
  height: 100%;
}

#sections span {
  font-size: 105%;
  color: rgb(255, 143, 58);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

#sections a {
  color: rgb(255, 143, 58);
  text-decoration: none;
}

#sections a:hover {
  color: white;
}

.container {
  fill: url(#header-shape-gradient) #fff;
}

#header-shape-gradient {
  --color-stop: #42C0D4;
  --color-bot: rgb(36, 104, 114);
}

#header-shape-gradient {
  --color-stop: #2C7C89;;
  --color-bot: rgba(36, 104, 114,0.3);
}

/*
--------------------
  Logo
--------------------
*/

.logo, .logo2 {
  fill: #fff;
  font-size: 54px;
  transition: all ease-in-out 0.2s;
  
}
.logo:hover, .logo2:hover {
  opacity: 0.8;
  transform: scale(1.1);
  fill: #69EBFF;
}
.logo {
  font-family: HelveticaNeue-Thin, Helvetica Neue;
  font-weight: 200;
}
.logo2 {
  font-family: HelveticaNeue-Medium, Helvetica Neue;
  font-weight: 500;
}
#logoHome {
  cursor: pointer;
}
/*
--------------------
  To-Do list
--------------------
*/

.navHeader {
  padding: 12px 0 12px 36px;
  background: #D48242;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 2px;
  transition: all ease-in-out 0.2s;
}

.navHeader:hover {
  transform: scale(1.1);
  box-shadow: 0 0 4px black;
}

#rightContainerFixed {
  position: fixed;
  right: 0px;
  top: 12em;
  width: 220px;
}

#rightContainerFixed #todoContent {
  float:right;
  position: fixed;
  background: white;
  height: 300px;
  width: 220px;
  align-content: left;
  color: black;
  border-radius: 0 0 0 40px;
  visibility: hidden;
}

#rightContainerFixed #todoContent ul {
  margin: 0px 6px 6px 40px;
}

#rightContainerFixed #todoContent input {
  padding: 3px 6px;
  width: 170px;
  border-radius: 6px;
  margin: 8px 0 10px 24px;
}

/*
--------------------
  Social media links
--------------------
*/

#socialMedia img {
  width: 32px;
  height: 32px;
}

#socialMedia {
  position: fixed;
  bottom: 24px;
  right: 24px;
}
#socialMedia p {
  padding: 7px 0 0 6px;
  font-size: 14px;
}

#Github, #Instagram {
  display: flex;
  flex-flow: nowrap row;
}

/*
--------------------
  Log in form
--------------------
*/

#logInForm {
  margin: 72px 0 48px 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 360px;
}

#logInForm p {
  font-size: 20px;
  margin-bottom: 18px;
  display: flex;
  justify-content: center;
}

#logInForm button {
  background: #D48242;
  font-size: 14px;
  color: white;
  border: 0;
  transition: background ease-in-out 0.2s;
  margin: 0;
  /* transition: all ease-out 0s; */
}

#logInForm button:hover {
  background: #87440F;
}

#logInForm #signInButton {
  background: #D48242;
  border: 0;
  letter-spacing: 0.5px;
  font-size: 18px;
  margin: 12px 0;
}

#logInForm #signInButton:hover {
  background: #87440F;
}

#logInForm input {
  margin: 0 0 0 0 ;
}

.modalInfoLogin {
  color: black;
}

/*
--------------------
  
--------------------
*/